n8n-workflow-chatbot-v2.json
{
  "name": "CikalTas Chatbot - Gemini Direct API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "163fb057-b3bb-4564-937c-9dbea4a6fe90",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "163fb057-b3bb-4564-937c-9dbea4a6fe90"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst systemPrompt = body.systemPrompt || 'Kamu adalah Cikal, asisten toko tas CikalTas.';\nconst question = body.question || '';\n\nreturn {\n  systemPrompt,\n  question,\n  payload: JSON.stringify({\n    contents: [\n      {\n        role: 'user',\n        parts: [{ text: question }]\n      }\n    ],\n    systemInstruction: {\n      parts: [{ text: systemPrompt }]\n    },\n    generationConfig: {\n      temperature: 0.8,\n      maxOutputTokens: 500\n    }\n  })\n};"
      },
      "id": "node-code-01",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "id": "node-http-01",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet reply = 'Maaf Kak, Cikal lagi gangguan sebentar. Coba lagi ya! 😊';\n\ntry {\n  reply = data.candidates[0].content.parts[0].text || reply;\n} catch(e) {}\n\nreturn { reply };"
      },
      "id": "node-code-02",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.reply }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "node-respond-01",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Prepare Request", "type": "main", "index": 0 }]]
    },
    "Prepare Request": {
      "main": [[{ "node": "Call Gemini API", "type": "main", "index": 0 }]]
    },
    "Call Gemini API": {
      "main": [[{ "node": "Extract Reply", "type": "main", "index": 0 }]]
    },
    "Extract Reply": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "cikal-chatbot-v2"
}
